{% extends "base.html" %}
{% block content %}

<h1>Mage Game Ops Console</h1>




<table class="table">
  <thead>
    <tr>
      <th scope="col">App</th>
      <th scope="col">Version</th>
      <th scope="col">Running?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Mage Game</th>
      <td id="home_magegameversion"><div class="spinner-border spinner-border-sm" role="status"><span class="sr-only"></span></div>/td>
      <td id="home_magegamerunning"><div class="spinner-border spinner-border-sm" role="status"><span class="sr-only"></span></div></td>
    </tr>
    <tr>
      <th scope="row">Ops Console</th>
      <td id="home_opsconsoleversion"><div class="spinner-border spinner-border-sm" role="status"><span class="sr-only"></span></div></td>
      <td id="home_opsconsolerunning"><div class="spinner-border spinner-border-sm" role="status"><span class="sr-only"></span></div></td>
    </tr>
  </tbody>
</table>




<button type="button" class="btn btn-primary" onclick="updateTableButton(this)">Refresh Table</button>



<script>
function updateTableButton(btn) {
  spinnerHTML = '<div class="spinner-border spinner-border-sm" role="status"><span class="sr-only"></span></div>'
  btn.disabled = true;

  // set all the table elements to spinner icon while we get data
  document.getElementById("home_magegameversion").innerHTML = spinnerHTML;
  document.getElementById("home_magegamerunning").innerHTML = spinnerHTML;
  document.getElementById("home_opsconsoleversion").innerHTML = spinnerHTML;
  document.getElementById("home_opsconsoleversion").innerHTML = spinnerHTML;


  // get all the data
  // get the Mage Game version
  sendXmlHttpRequest('/api/version/magegame', 'home_magegameversion')
  // get the Ops Console version
  sendXmlHttpRequest('/api/version/opsconsole', 'home_opsconsoleversion')
  // get the Mage Game version
  sendXmlHttpRequest('/api/serviceCheck?s=magegame.service', 'home_magegamerunning')
  // get the Ops Console version
  sendXmlHttpRequest('/api/serviceCheck?s=magegame-ops.service', 'home_opsconsolerunning')
  btn.disabled = false;
}


// Initial table update when the user first lands on the page
sendXmlHttpRequest('/api/version/magegame', 'home_magegameversion')
// get the Ops Console version
sendXmlHttpRequest('/api/version/opsconsole', 'home_opsconsoleversion')
// get the Mage Game version
sendXmlHttpRequest('/api/serviceCheck?s=magegame.service', 'home_magegamerunning')
// get the Ops Console version
sendXmlHttpRequest('/api/serviceCheck?s=magegame-ops.service', 'home_opsconsolerunning')
</script>

{% endblock %}
