{% extends "base.html" %}
{% block content %}


<div class="container">
  <div class="row">

  </div>
  <div class="row">

  </div>
</div>
<div class="container">
  <h1>Logs</h1>
  <button type="button" class="btn btn-primary"
    param-endpoint="/api/service?s=magegame.service"
    param-id="magegameservicelogs"
    onClick="buttonClick(this, '/api/service?s=magegame.service', 'magegameservicelogs');">Refresh Logs</button>
</div>

<br/>

<div class="container">
  <div class="row">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#magegameservicelogs" aria-expanded="false" aria-controls="collapseExample">
    magegame.service logs
    </button>
    <div class="collapse.show">
    <div class="card card-body">
    <pre id="magegameservicelogs">{{ magegamelogs }}</pre>
    </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#magegameserviceupdaterlogs" aria-expanded="false" aria-controls="collapseExample">
    magegame-updater.service logs
    </button>
    <div class="collapse.show" id="magegameserviceupdaterlogs">
    <div class="card card-body">
    <pre id="magegameopsservicelogs">{{ magegameupdaterlogs }}</pre>
    </div>
    </div>
  </div>
</div>

{% endblock %}
