{% extends "base.html" %}
{% block content %}

<form method="post">
<h1>Restart Services</h1>
      <!--<input type="submit" id="restart_service" name="action" value="Restart Service">-->

      <button type="button" class="btn btn-primary" onclick="restartService(this, 'magegame.service')">magegame.service</button>
      <button type="button" class="btn btn-primary" onclick="restartService(this, 'magegame-ops.service')">magegame-ops.service</button>

</form>

<h1>magegame.service</h1>
<pre id="services_magegamedetails"></pre>

<h1>magegame-ops.service</h1>
<pre id="services_magegameopsdetails"></pre>





<script>
// get the Mage Game service details
sendXmlHttpRequest('/api/serviceDetails?s=magegame.service', 'services_magegamedetails')

// get the Mage Game service details
sendXmlHttpRequest('/api/serviceDetails?s=magegame-ops.service', 'services_magegameopsdetails')



function restartService(btn, service) {
  btn.disabled = true;
  console.log("Sending restart service request: " + service)

  // tell app.py to update the github branch
  sendXmlHttpRequest('/api/serviceUpdate?s=magegame.service', 'home_magegameversion')

  btn.disabled = false;
}

</script>

{% endblock %}
