{% extends "base.html" %}
{% block content %}

<form method="post">
      <h1>Update Github branch</h1>
      <button type="button" class="btn btn-primary" onclick="updateService(this, 'magegame')">Main</button>
</form>



<script>
function updateService(btn, service) {
  btn.disabled = true;

  console.log("Pressed button")

  // tell app.py to update the github branch
  sendXmlHttpRequest('/api/serviceUpdate?s=magegame.service', 'home_magegameversion')

  btn.disabled = false;
}
</script>



{% endblock %}
